<p><strong>Welcome {{first_name}}!</strong></p>
<p>Thank you for filling up the pre-registration form. Please keep this email or the activation code below and present it in the Concierge during the event.</p>
<h2><code>{{activationCode}}</code></h2>
<p><img src="https://api.qrserver.com/v1/create-qr-code/?size=150x150&data={{activationCode}}" alt="{{activationCode}}"></p>