# Node modules
node_modules
package-lock.json

# Adonis directory for storing tmp files
tmp

# Environment variables, never commit this file
.env

# The development sqlite file
database/nstw_2019.sqlite

# VSCode & Webstorm history directories
.history
.idea

# Source Map files
public/**/*.map

# mp4 Files
public/**/*.mp4

# Documents & Materials
public/assets/dashboard/materials

# Front-end must be rebuild on every instance
public/js/main.*
public/mix-manifest.json

# For testing
test.js